@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #c1a4f6;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e9e9e9;
}

.initialrod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa 100% da altura da janela */
  background-image: url('imgs/background.jpg'); /* Substitua por uma imagem de fundo adequada */
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff; /* Cor do texto */
}


.botao  {
  background-color: white; /* Cor de fundo */
  border-radius: 1vh; /* Bordas arredondadas */
  text-decoration: none; /* Remove sublinhado dos links */
  color: #5d1dc4; /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte */
  border: 5px solid white;
  padding: 2vh;
  margin-bottom: 1.5rem;
  width: 70%;
}

.botao a  {
  text-decoration: none;
}

.botao:hover  {
  text-decoration: underline; 
  transition: 0.4s ease-in;
  transform: scale(1.02);
  /* adicionar depois */
}

.bg-white-custom {
  background-color: #ffffff; /* Branco */
}

.text-black-custom {
  color: #000000; /* Preto */
}

.border-white-custom {
  border-color: #ffffff; /* Branco */
}